<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ro.lrg.insider.view.XCorexTableView"
            icon="res/lrglogo.png"
            id="ro.lrg.insider.view.XCorexTableView"
            name="Insider"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=ValidationCommand">
         <command
               commandId="ro.lrg.insider.view.BrowseEntityAction"
               icon="res/lrglogo.png"
               label="Browse in Insider"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.eclipse.jdt.core.IJavaElement">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ro.lrg.insider.view.BrowseEntityAction"
            id="ro.lrg.insider.view.BrowseEntityAction"
            name="Browse in Insider">
      </command>
   </extension>
</plugin>
