<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	   point="org.eclipse.jdt.apt.core.annotationProcessorFactory" >
		<java6processors enableDefault="true">
			<java6processor class="com.salexandru.xcore.annotationProcessor.XAnnotationProcessor"/>
		</java6processors>
	</extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="com.salexandru.xcore.preferencepage.XCorexPropertyPage"
          id="com.salexandru.xcore.XCorePropertyPage"
          name="XCore"
          objectClass="org.eclipse.jdt.core.IJavaProject">
    </page>
 </extension>
 <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
          class="com.salexandru.xcore.plugin.XCorexLibraryAdapter"
          id="com.salexandru.xcore.plugin.XCorexLibraryAdapter">
    </classpathContainerInitializer>
 </extension>
</plugin>
